<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員一覧</h2>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <%= @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><u><%= link_to customer.last_name + " " + customer.first_name, admin_customers_path(customer), style: "color: black;" %></u></td>
            <td><%= customer.email %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>